<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.home.mapper.HomeNumMapper">

    <!--
        查询功能的标签必须设置 resultType 或 resultMap
        resultTyoe: 设置默认的映射关系 （结果的字段名作为属性名赋值）（实体类属性一定要和sql的字段名保持一致）
        resulMap: 设置自定义的映射关系   （字段名和属性名不一样才要用到 resulMap）


        类型别名不区分大小写

        mybatis获得参数的两种方式：
        ${}  本质 字符串拼接
        #{}  本质 占位符赋值
    -->

    <select id="date" resultType="com.example.mybatis.home.user.NumUser">
        select *
        from t_HomeNumber
        where date=#{date}
    </select>

    <insert id="insert">
        insert into t_HomeNumber value (null,#{number},#{date})
    </insert>

    <update id="update">
        update t_HomeNumber
        set number = #{number}
        where date = #{date}
    </update>



</mapper>
