<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatis.inuser.mapper.UserMapper">

<!--

    查询功能的标签必须设置 resultType 或 resultMap
    resultTyoe: 设置默认的映射关系 （结果的字段名作为属性名赋值）（实体类属性一定要和sql的字段名保持一致）
    resulMap: 设置自定义的映射关系   （字段名和属性名不一样才要用到 resulMap）


    类型别名不区分大小写

    mybatis获得参数的两种方式：
    ${}  本质 字符串拼接
    #{}  本质 占位符赋值

-->



    <select id="select" resultType="com.example.mybatis.inuser.user.User">
        select *
        from t_user
    </select>

    <select id="seleByName" resultType="com.example.mybatis.inuser.user.User">
        select *
        from t_user
        where username like '%${selectByName}%'
        or name like '%${selectByName}%'
        limit #{begin},#{size}
    </select>

    <delete id="delete">
        delete
        from t_user
        where id=#{id}
    </delete>

<!--    <select id="pageSelect" resultType="com.example.mybatis.inuser.user.User">-->
<!--        select *-->
<!--        from t_user-->
<!--        limit #{begin},#{size}-->
<!--    </select>-->
    
    <insert id="insertUser">
        insert into t_user value (null,#{username},#{password},#{name},#{address},#{date},#{email})
    </insert>


    <update id="updateUser">
        update t_user
        set username = #{username},password = #{password},name = #{name},address = #{address},email = #{email}
        where id = #{id}
    </update>


    <select id="index" resultType="com.example.mybatis.inuser.user.User">
        select *
        from t_user
        where username=#{username} and password=#{password}
    </select>



</mapper>
